<h3 style="margin-bottom: 30px;">List of POIs</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Total POIs</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategories.each do |subcategory| %>
      <tr>
        <td><span class="label label-warning"><%= subcategory.name %></span></td>
        <td><span class="label label-primary"><%= subcategory.category.name %></span></td>
        <td><%= subcategory.pois.count %></td>
        <td><%= link_to 'Statistics', get_concepts_subcategory_path(subcategory), :class => "btn btn-default btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
