<h3 style="margin-bottom: 30px;">List of categories</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subcategories</th>
      <th>Total POIs</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><span class="label label-primary"><%= category.name %></span></td>
        <td>
                    <% category.subcategories.each do |subcat| %>
            <span class="label label-warning"><%= subcat.name %></span>
          <% end %>
        </td>
        <td><%= category.pois.count %></td>
        <td><%= link_to 'POIs', get_pois_category_path(category), :class => "btn btn-default btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
